$icon-opacity: rgb(255, 255, 255, 0.6);
$icon-opacity-on-hover: #fff;
$icon-hover-background-color: rgb(255, 255, 255, 0.2);
$icon-padding: 7px;
$icon-transition: transform 0.2s ease-out, background-color 0.2s ease-in;

nav {
  height: 100%;
  width: 100%;
}
.global-header {
  height: inherit;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}
.global-header-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 16px;
}
.global-header-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.global-header-content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 16px 8px 0;
}
.global-header-menu-icon {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: $icon-padding;
  border-radius: 50%;
  transition: $icon-transition;
  transform: scale(var(--header-icon-scale));
  fill: $icon-opacity;
}
.global-header-menu-icon:hover {
  fill: $icon-opacity-on-hover;
  background-color: $icon-hover-background-color;
}
.global-header-red-bull-icon-text {
  box-sizing: content-box;
  padding: $icon-padding;
  border-radius: 80px;
  transition: $icon-transition;
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(var(--header-icon-scale));
  opacity: 0.6;
  --logo-translate-x: 50px;
  --logo-text-translate-x: -15px;
  --logo-text-opacity: 0;
}
.red-bull-icon {
  width: 44px;
  display: block;
  transform: translateX(var(--logo-translate-x));
  transition: 0.2s ease-out;
}
.red-bull-text {
  opacity: var(--logo-text-opacity);
  transform: translateX(var(--logo-text-translate-x));
  transition: 0.2s ease-out;
  color: #fff;
  margin-left: 10px;
}
.global-header-red-bull-icon-text:hover {
  opacity: 1;
  background-color: $icon-hover-background-color;
  --logo-translate-x: 0;
  --logo-text-translate-x: 0;
  --logo-text-opacity: 1;
}
.global-header-search-icon {
  box-sizing: content-box;
  padding: $icon-padding;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  transition: $icon-transition;
  fill: $icon-opacity;
  transform: scale(var(--header-icon-scale));
}
.global-header-search-icon:hover {
  fill: $icon-opacity-on-hover;
  background-color: $icon-hover-background-color;
}
