<nav>
  <div class="global-header">
    <div class="global-header-content-1">
      <button class="global-header-menu-icon">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g fill-rule="evenodd">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M12 17.333A1.333 1.333 0 1112 20a1.333 1.333 0 010-2.667zm6.667 0a1.333 1.333 0 110 2.667 1.333 1.333 0 010-2.667zm-13.334 0a1.333 1.333 0 110 2.667 1.333 1.333 0 010-2.667zM12 10.667a1.333 1.333 0 110 2.666 1.333 1.333 0 010-2.666zm-6.667 0a1.333 1.333 0 110 2.666 1.333 1.333 0 010-2.666zm13.334 0a1.333 1.333 0 110 2.666 1.333 1.333 0 010-2.666zM12 4a1.333 1.333 0 110 2.667A1.333 1.333 0 0112 4zM5.333 4a1.333 1.333 0 110 2.667 1.333 1.333 0 010-2.667zm13.334 0a1.333 1.333 0 110 2.667 1.333 1.333 0 010-2.667z"
            ></path>
          </g>
        </svg>
      </button>
    </div>
    <div class="global-header-content-2">
      <button class="global-header-red-bull-icon-text">
        <app-redbull-logo class="red-bull-icon"> </app-redbull-logo>
        <div class="red-bull-text">World of Red Bull</div>
      </button>
    </div>
    <div class="global-header-content-3">
      <button class="global-header-search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" d="M24 0v24H0V0" data-name="Bounding area"></path>
          <path
            d="M10 5.5A4.5 4.5 0 115.5 10 4.51 4.51 0 0110 5.5M10 4a6 6 0 106 6 6 6 0 00-6-6z"
          ></path>
          <rect
            x="17.25"
            y="15.18"
            width="1.5"
            height="5.66"
            rx=".5"
            ry=".5"
            transform="rotate(-45 17.998 18.005)"
          ></rect>
        </svg>
      </button>
    </div>
  </div>
</nav>
