<div class="container">
  <div class="stories">
    <div class="highlightedStory">
      <div class="storyCategory">{{ storyList[currentStory]["category"] }}</div>
      <div *ngFor="let story of storyList; let i = index">
        <div [class.active]="i == currentStory">
          <span class="storyTitle">
            {{ storyList[i]["title"] }}
          </span>
        </div>
      </div>
      <div class="storyButton">Read Story</div>
      <div class="storyList">
        <div *ngFor="let story of storyList; let i = index" class="listItem">
          <div [class.active]="i == currentStory">
            <div class="timelineProgressBarPlumbing">
              <div class="timelineProgressBar"></div>
            </div>
            <div class="listItemDesc">{{ story["title"] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="happening-now">GP Map</div>
</div>
