:host ::ng-deep .wrapper {
  --header-height: 36px;
  --header-icon-scale: 0.833333;
}
.header {
  display: block;
  height: var(--header-height);
  transition: height 0.2s ease-out, z-index 0.2s ease-out;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
}
.page-content {
  display: block;
  margin-top: 36px;
}
.header:hover {
  --header-height: 60px;
  --header-icon-scale: 1;
  z-index: 100;
}
