/* You can add global styles to this file, and also import other style files */
$primary-color: #001c39;
:root {
  --primary-color: #{$primary-color};
}
body {
  margin: 0;
  border: 0;
  padding: 0;
}
button {
  border: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  padding: 0;
}
